Repository SS14-Classic/deep-station-14, pull requests merged in 2024-05, with the labels that each got.

#2 Crazy dangerous atmos optimisations
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
Labels: Changes: C#, Changes: YML

#3 Toggle Monstermos
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#

#11 Epistemics is apparently hardcoded in the server's database
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
  Resources/Prototypes/Loadouts/Jobs/science.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: YML

#13 Re-enable Harpy Species
  Resources/Prototypes/DeltaV/Species/harpy.yml
Labels: Changes: YML

#14 Loadouts Items Wave 1
  Content.Shared/Clothing/Loadouts/Systems/LoadoutRequirements.cs
  Resources/Locale/en-US/loadouts/categories.ftl
  Resources/Locale/en-US/loadouts/loadout-requirements.ftl
  Resources/Prototypes/Loadouts/Jobs/medical.yml
  Resources/Prototypes/Loadouts/Jobs/science.yml
  Resources/Prototypes/Loadouts/Jobs/security.yml
  Resources/Prototypes/Loadouts/Jobs/service.yml
  Resources/Prototypes/Loadouts/categories.yml
  Resources/Prototypes/Loadouts/items.yml
  Resources/Prototypes/Loadouts/outerClothing.yml
  Resources/Prototypes/Loadouts/shoes.yml
  Resources/Prototypes/Loadouts/species.yml
  Resources/Prototypes/Loadouts/uniform.yml
Labels: Changes: C#, Changes: YML, Changes: Localization
