Repository SS14-Classic/deep-station-14, pull requests merged in 2024-10, with the labels that each got.

#68 re-adds patron items
  Resources/Prototypes/_ds14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_ds14/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/_ds14/Loadouts/eyes.yml
  Resources/Textures/_ds14/Clothing/Eyes/sciencegoggles.rsi/equipped-EYES.png
  Resources/Textures/_ds14/Clothing/Eyes/sciencegoggles.rsi/flipped-equipped-EYES.png
  Resources/Textures/_ds14/Clothing/Eyes/sciencegoggles.rsi/flipped-inhand-left.png
  Resources/Textures/_ds14/Clothing/Eyes/sciencegoggles.rsi/flipped-inhand-right.png
  Resources/Textures/_ds14/Clothing/Eyes/sciencegoggles.rsi/icon-flipped.png
  Resources/Textures/_ds14/Clothing/Eyes/sciencegoggles.rsi/icon.png
  Resources/Textures/_ds14/Clothing/Eyes/sciencegoggles.rsi/inhand-left.png
  Resources/Textures/_ds14/Clothing/Eyes/sciencegoggles.rsi/inhand-right.png
  Resources/Textures/_ds14/Clothing/Eyes/sciencegoggles.rsi/meta.json
  Resources/Textures/_ds14/Clothing/Shoes/sneakers.rsi/equipped-FEET.png
  Resources/Textures/_ds14/Clothing/Shoes/sneakers.rsi/icon.png
  Resources/Textures/_ds14/Clothing/Shoes/sneakers.rsi/inhand-left.png
  Resources/Textures/_ds14/Clothing/Shoes/sneakers.rsi/inhand-right.png
  Resources/Textures/_ds14/Clothing/Shoes/sneakers.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#74 Fix roletime reqs
  Resources/Prototypes/Roles/Antags/ninja.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
Labels: Changes: YML

#80 Update PsionicsSystem.cs
  Content.Server/Psionics/PsionicsSystem.cs
Labels: Changes: C#
