Repository SS14-Classic/deep-station-14, pull requests merged in 2024-08, with the labels that each got.

#53 Adds timelock for guns, removes category bloat
  Resources/Locale/en-US/_ds14/loadouts/categories.ftl
  Resources/Locale/en-US/_ds14/loadouts/items.ftl
  Resources/Prototypes/_ds14/Loadouts/categories.yml
  Resources/Prototypes/_ds14/Loadouts/items.yml
Labels: Changes: YML, Changes: Localization

#58 Only neil
  Resources/Audio/Announcers/NEIL/comms/command_report.ogg
  Resources/Audio/Announcers/NEIL/comms/ninja_hacking.ogg
  Resources/Audio/Announcers/NEIL/comms/nuke_arm.ogg
  Resources/Audio/Announcers/NEIL/comms/nuke_codes.ogg
  Resources/Audio/Announcers/NEIL/comms/nuke_disarm.ogg
  Resources/Audio/Announcers/NEIL/comms/powersink_explosion.ogg
  Resources/Audio/Announcers/NEIL/comms/spawn_announce.ogg
  Resources/Audio/Announcers/NEIL/comms/war.ogg
  Resources/Audio/Announcers/NEIL/events/bluespace_artifact.ogg
  Resources/Audio/Announcers/NEIL/events/bluespace_locker.ogg
  Resources/Audio/Announcers/NEIL/events/carp_rift.ogg
  Resources/Audio/Announcers/NEIL/events/clerical_error.ogg
  Resources/Audio/Announcers/NEIL/events/gas_leak-complete.ogg
  Resources/Audio/Announcers/NEIL/events/generic_migration.ogg
  Resources/Audio/Announcers/NEIL/events/immovable_rod_spawn.ogg
  Resources/Audio/Announcers/NEIL/events/meteors-complete.ogg
  Resources/Audio/Announcers/NEIL/events/mouse_migration.ogg
  Resources/Audio/Announcers/NEIL/events/random_sentience.ogg
  Resources/Audio/Announcers/NEIL/events/revenenant_spawn.ogg
  Resources/Audio/Announcers/NEIL/events/solar_flare-complete.ogg
  Resources/Audio/Announcers/NEIL/events/solar_flare.ogg
  Resources/Audio/Announcers/NEIL/shuttle/almost_launching.ogg
  Resources/Audio/Announcers/NEIL/shuttle/auth_added.ogg
  Resources/Audio/Announcers/NEIL/shuttle/auth_revoked.ogg
  Resources/Audio/Announcers/NEIL/shuttle/good_luck.ogg
  Resources/Audio/Announcers/NEIL/shuttle/left.ogg
  Resources/Audio/Announcers/NEIL/shuttle/nearby.ogg
  Resources/Prototypes/Announcers/!randomAnnouncers.yml
  Resources/Prototypes/Announcers/neil.yml
Labels: Changes: YML, Changes: Audio

#60 Removes the pistols from loadouts
  Resources/Prototypes/_ds14/Loadouts/items.yml
Labels: Changes: YML

#67 Temporarily re-add hugging
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Player/arachne.yml
  Resources/Prototypes/Entities/Mobs/Player/harpy.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/Oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/felinid.yml
Labels: Changes: YML, Changes: Localization

#63 Adds 'PTSD'
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/personal.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/personal.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/personal.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/personal.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/personal.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/personal.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/personal.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/personal.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/personal.rsi/mode-disabler.png
  Resources/Textures/Objects/Weapons/Guns/Battery/personal.rsi/mode-lethal.png
Labels: Changes: YML, Changes: Sprite
