Repository SS14-Classic/deep-station-14, pull requests merged in 2024-12, with the labels that each got.

#114 Disable Vulpkanin
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
Labels: Changes: YML

#117 Fix Gunther's Goggles
  Resources/Prototypes/_ds14/Entities/Clothing/Eyes/glasses.yml
Labels: Changes: YML

#118 Update-12/17/2024
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/MainMenu/MainMenu.cs
  Content.Client/MainMenu/UI/MainMenuControl.xaml
  Content.Client/Salvage/UI/SalvageMagnetBoundUserInterface.cs
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Mech/Equipment/EntitySystems/MechGrabberSystem.cs
  Content.Server/Nyanotrasen/Chemistry/Effects/ChemRemovePsionic.cs
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Damage/Components/ClothingSlowOnDamageModifierComponent.cs
  Content.Shared/Damage/Systems/SlowOnDamageSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Resources/Changelog/Changelog.yml
  Resources/ConfigPresets/EinsteinEngines/default.toml
  Resources/Credits/GitHub.txt
  Resources/Locale/en-US/damage/stamina.ftl
  Resources/Locale/en-US/main-menu/main-menu.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Maps/Misc/terminal.yml
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/pointy_ears.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Loadouts/Generic/shoes.yml
  Resources/Prototypes/Loadouts/Jobs/Service/bartender.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/mental.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: YML, Changes: Localization, Changes: UI, Changes: Config, Changes: Map

#116 CC update number idk
  Resources/Maps/Deep-Space-Central-Command.yml
Labels: Changes: YML, Changes: Map

#122 Update 12/28/2024
  Content.Client/Jittering/JitteringSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Textures/Objects/Fun/toys.rsi/harpyplushie.png
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/mortplush.png
Labels: Changes: C#, Changes: YML, Changes: Sprite
