Repository SS14-Classic/deep-station-14, pull requests merged in 2024-06, with the labels that each got.

#15 Hotfixes
  Content.Server/Psionics/Abilities/PsionicInvisibilityPowerSystem.cs
  Content.Server/Psionics/Abilities/RegenerativeStasisPowerSystem.cs
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: Changes: C#, Changes: YML

#16 Update CCVars.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#

#19 These creatures shouldn't be psionic.
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Changes: YML

#29 Comment Submarine Out
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map

#34 Update Supermatter (Again)
  Content.Server/Supermatter/Systems/SupermatterSystem.cs
  Content.Shared/Supermatter/Components/SupermatterComponent.cs
  Content.Shared/Supermatter/Components/SupermatterImmuneComponent.cs
  Resources/Locale/en-US/objectives/conditions/steal.ftl
  Resources/Locale/en-US/supermatter/supermatter.ftl
  Resources/Maps/edge.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Misc/supermatter_sliver.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Supermatter/supermatter.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/coil.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/tags.yml
  Resources/ServerInfo/Guidebook/Engineering/Supermatter.xml
  Resources/Textures/Supermatter/supermatter.rsi/meta.json
  Resources/Textures/Supermatter/supermatter.rsi/supermatter.png
  Resources/Textures/Supermatter/supermatter_sliver.rsi/icon.png
  Resources/Textures/Supermatter/supermatter_sliver.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Sprite, Changes: Documentation, Changes: Map

#38 Fixes IPCs not being able to repair themselves w/welder and not having language setup correctly
  Resources/Prototypes/SimpleStation14/Entities/Mobs/Player/ipc.yml
Labels: Changes: YML
