Repository SS14-Classic/deep-station-14, pull requests merged in 2024-07, with the labels that each got.

#39 Increases the markings budget for species with cybernetic limb options
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
Labels: Changes: YML

#43 Update edge.yml
  Resources/Maps/edge.yml
Labels: Changes: Map

#44 Fuck Wizteroids
  Resources/Changelog/Changelog.yml
  Resources/Credits/GitHub.txt
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/Random/miningrock.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Walls/mountain.yml
  Resources/Prototypes/Procedural/biome_templates.yml
Labels: Changes: YML

#52 Personal Defense Weapons
  Resources/Locale/en-US/_ds14/loadouts/categories.ftl
  Resources/Locale/en-US/_ds14/loadouts/personaldefense.ftl
  Resources/Prototypes/_ds14/Loadouts/categories.yml
  Resources/Prototypes/_ds14/Loadouts/personaldefense.yml
Labels: Changes: YML, Changes: Localization
