Repository SS14-Classic/deep-station-14, pull requests merged in 2024-11, with the labels that each got.

#97 Hotfix shuttle
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Dragon/DragonRiftSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Resources/Changelog/Changelog.yml
Labels: Changes: C#, Changes: YML

#104 New CC
  Content.Server/Shuttles/Components/StationCentcommComponent.cs
  Resources/Maps/Deep-Space-Central-Command.yml
  Resources/Prototypes/Maps/Deep-Space-Central-Command.yml
Labels: Changes: C#, Changes: YML, Changes: Map

#106 Fixed CC grav gen having no power
  Resources/Maps/Deep-Space-Central-Command.yml
Labels: Changes: YML, Changes: Map

#108 Graytide Virus Event
  Content.Server/StationEvents/Components/AirlockVirusRuleComponent.cs
  Content.Server/StationEvents/Components/AirlockVirusTargetComponent.cs
  Content.Server/StationEvents/Events/AirlockVirusRule.cs
  Resources/Locale/en-US/station-events/events/airlock-virus.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: C#, Changes: YML, Changes: Localization
