Repository SS14-Classic/deep-station-14, pull requests merged in 2025-05, with the labels that each got.

#156 Another mapping hotfix
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.Functions.cs
  Content.Server/Traits/TraitSystem.Functions.cs
  Content.Shared/Overlays/Switchable/SwitchableOverlayComponent.cs
  Content.Shared/Overlays/Switchable/ThermalVisionComponent.cs
  Resources/Changelog/Changelog.yml
  Resources/Maps/anchor.yml
  Resources/Maps/pebble.yml
Labels: Changes: C#, Changes: YML, Changes: Map

#152 Should be the last until some new stuff gets added that i can put at CC (0r i need to fix stuff)
  Resources/Maps/Deep-Space-Central-Command.yml
Labels: Changes: YML, Changes: Map

#159 Update DefaultRuleset.xml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRuleset.xml
Labels: Changes: YML, Changes: Documentation

#160 Tweak Server Settings
  Content.Client/Overlays/SaturationScaleOverlay.cs
  Content.Server/Mood/MoodSystem.cs
  Content.Shared/CCVar/CCVars.GhostRespawn.cs
  Content.Shared/CCVar/CCVars.Hud.cs
  Content.Shared/CCVar/CCVars.Mood.cs
  Content.Shared/CCVar/CCVars.NPC.cs
  Content.Shared/CCVar/CCVars.Salvage.cs
  Content.Shared/CCVar/CCVars.Vote.cs
  Content.Shared/Overlays/SaturationScaleComponent.cs
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: YML, Changes: Map
